/* General Demo Style */
@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}



body {
	font-size:14px;
	color:#333;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height:1.6;
	background:#fff;
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

/*
.container {
	width: 100%;
	position: relative;
}
*/
.container {
	width: 980px;
	position: relative;
	margin:0 auto;
}

.contents {
	overflow:hidden;
	width:980px;
	margin:5px auto;
	background:#fff;
}

.inner {
	position:relative;
	width:980px;
	margin:0 auto;
}

header {
	box-sizing:border-box;
	position:relative;
	width:100%;
	background:#fcfcfc;
}

nav {
	width:100%;
	background:#fff;
	box-shadow:0 1px 2px #d0d8dc;
	⁄zoom:1;
}
nav:after {
   content:'';
   display:block;
   clear:both;
}

footer {
	box-sizing:border-box;
	width:100%;
	margin:0 auto;
}

a {
	color:#333;
	text-decoration:underline;
}
a:hover {
	color:#333;
	text-decoration:none;
}


/*言語選択*/
#language a {
	margin: 0 5px;
	padding: 15px 0;
	width: 100px;
	color: #000;
	font-size: 15px;
	line-height: 1.4em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border: #cccccc 1px solid;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#language a:hover {
	color: #fff;
	background-color: #012f7a;
}

#language a .clickPoint {
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	background: #ccc;
	border-radius: 50%;
	-webkit-animation: clicklEffect 1.5s ease-out;
	-moz-animation: clicklEffect 1.5s ease-out;
	animation: clicklEffect 1.5s ease-out;
}

@-webkit-keyframes clicklEffect {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(100);
		opacity: 0;
	}
}

@-moz-keyframes clicklEffect {
	0% {
		-moz-transform: scale(1);
		opacity: 1;
	}
	100% {
		-moz-transform: scale(100);
		opacity: 0;
	}
}

@keyframes clicklEffect {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(100);
		opacity: 0;
	}
}



/*================================================
 *  ヘッダー
 ================================================*/
header {
	padding:30px 10px;
}

header img{
	width: 60%;
}

.summary {
	position:absolute;
	top:0;
	right:10px;
	margin:0;
}

/*================================================
 *  グローバルナビゲーション
 ================================================*/
@media print, screen and (min-width:768px) {
	nav {
		background:#4A5894;
		border-bottom:5px solid #5765A2;
		box-shadow:0 1px 3px #999;
		z-index:9999;
	}
	nav ul {
		margin:0;
		padding:0;
	}
	nav li {
		position:relative;
		width:17%;
		float:left;
		margin:0;
		padding:0;
		text-align:center;
		list-style:none;
	}
	nav li:first-child {
		width:15%;
	}
	nav li:before {
		content:"";
		margin-top:-7px;
		position:absolute;
		top:50%;
		left:0;
		width:1px;
		height:14px;
		background:#0E2E8C;
	}
	nav li:last-child:after {
		content:"";
		margin-top:-7px;
		position:absolute;
		top:50%;
		right:0;
		width:1px;
		height:14px;
		background:#0E2E8C;
	}
	nav li:hover:before,
	nav li:hover + li:before,
	nav li:last-child:hover:after,
	nav li li:before,
	nav li li:after {
		display:none;
	}
	nav li:last-child li {
		left:-50%;
	}
	nav li a {
		display:block;
		padding:10px 0;
		color:#fff;
		font-weight:bold;
		text-decoration:none;
	}
	nav li ul {
		display:block !important;
		position:absolute;
		top:100%;
		left:0;
		margin:0;
		padding:0;
		border-radius:0 0 3px 3px;
		z-index:9999;
	}
	nav li ul li {
		overflow:hidden;
		width:150%;
		height:0;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		-o-transition:.2s;
		-ms-transition:.2s;
		transition:.2s;
	}
	nav li li:first-child {
		width:150%;
	}
	nav li ul li a {
		padding:10px 15px;
		background:#0080BA;
		text-align:left;
		font-weight:normal;
	}
	nav li:hover > a {
		background:#0C207C;
		color:#fff;
	}
	nav li:hover > a:hover {
		background:#0C207C;
	}

	.gnav {
		display:block !important;
	}

	#spMenu {
		display:none;
	}

	.showNav {
		background:#0C207C !important;
	}

	.showSub {
		overflow:visible;
		min-height:42px;
		border-bottom:2px solid #0C207C;
	}
	.showSub:last-child {
		border-bottom:0;
	}
	.showSub:last-child a {
		border-radius:0 0 3px 3px;
	}

	.fixed {
		position:fixed;
		top:0;
		left:0;
	}
}

/*================================================
 *  トピックパス（パンくずリスト）
 ================================================*/
#topicpath {
	font-size:12px;
	margin-bottom:20px;
	padding:2px;
	background:#f1f1f1;
}

/*================================================
 *  サブコンテンツ
 ================================================*/
.submenu li {
	margin:0;
	padding:0;
	list-style:none;
}
.submenu li a:before {
	content:"\0025a0";
	color:#000;
}
.submenu li a {
	display:block;
	padding:10px 2px;
	color:#000;
	border-bottom:1px dotted #ddd;
	text-decoration:none;
}
.submenu li a:hover {
	background:#eee;
}

.bnr {
	overflow:hidden;
}
.bnr ul {
	overflow:hidden;
}
.bnr li {
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}
.bnr li a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter:"alpha( opacity=80 )";
}
.bnr img {
	width:100%;
}

img{
		vertical-align:bottom;
}

/*================================================
 *  フッター
 ================================================*/
footer {
	clear:both;
}

.footmenu {
	width:100%;
	padding:20px 0;
	overflow:hidden;
	background:#eee;
}
.footmenu ul {
	position:relative;
	float:left;
	left:50%;
	margin:0;
	padding:0;
}
.footmenu li {
	position:relative;
	left:-50%;
	float:left;
	list-style:none;
	margin:0;
	padding:0 15px;
	font-size:12px;
	text-align:center;
}
.footmenu a {
	color:#333;
	text-decoration:none;
}
.footmenu a:hover {
	color:#333;
	text-decoration:underline;
}

.copyright {
	clear:both;
	padding:20px 0;
	font-size:11px;
	text-align:center;
	color:#eee;
	background:#2e2e2e;
}

/*================================================
 *  ページトップへの戻り
 ================================================*/
.totop {
	position:fixed;
	bottom:15px;
	right:15px;
}
.totop a {
	display:block;
	text-decoration:none;
}
.totop img {
	background:#4A5894;
}
.totop img:hover {
	background:#000890;
}

.main {
	width: 100%;
	max-width: 1280px;
}



/*================================================
 *  タブレット向けデザイン
 ================================================*/
/* スクロールバーを考慮して20px大きいサイズで切り替え */
@media screen and (max-width:979px) {
	.inner {
		width:100%;
	}

	.container {
		width: 100%;
		position: relative;
	}

	footer {
		width:100%;
	}
}



/*================================================
 *  スマートフォン向けデザイン
 ================================================*/

@media screen and (max-width: 767px){
	.codrops-demos { text-align: left;}

	header {
		z-index:5000;
		box-sizing:border-box;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		padding:15px 10px;
	}

	header img{
		width: 90%;
	}


	.summary {
		position:relative;
		top:auto;
		right:auto;
		margin-top:15px;
	}

	#language a {
		margin: 0 0px;
		padding: 7px 0;
		width: 100px;
		color: #000;
		font-size: 16px;
		line-height: 1.4em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
		position: relative;
		border: #cccccc 1px solid;
		background-color: #fff;
		box-sizing: border-box;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
	}


	nav {
		background:#0C207C;
	}
	nav ul {
		margin:0;
		padding:0;
		}

		nav .inner > ul {
			z-index:5000;
			overflow:auto;
			position:fixed;
			top:10px;
			right:10px;
			width:40%;
			height:88%;
			height:-webkit-calc(100% - 10px);
			height:calc(100% - 10px);
		}
		nav li {
			position:relative;
			width:100%;
			float:none;
			margin:0;
			text-align:left;
			list-style:none;
			border-bottom:1px solid #ccc;
			background:#012f7a;
		}

		nav li:first-child {
			border-top:0;
		}
		nav li:last-child {
			border-bottom:0;
		}



		nav li a {
			display:block;
			padding:10px 30px;
			color:#000;
			text-decoration:none;
			background:#f1f1f1;

		/*追加*/
			overflow: hidden;
			position: relative;
			-webkit-transition: all 0.1s;
			-moz-transition: all 0.1s;
			transition: all 0.1s;
		/*ここまで*/
		}


		/*追加*/
		nav li a .clickPoint {
			margin: -5px 0 0 -5px;
			width: 10px;
			height: 10px;
			display: block;
			position: absolute;
			background: #bbb;
			border-radius: 50%;
			-webkit-animation: clicklEffect 1.5s ease-out;
			-moz-animation: clicklEffect 1.5s ease-out;
			animation: clicklEffect 1.5s ease-out;
		}
		/*ここまで*/



		nav li a:hover {
			color:#fff;
			background:#012f7a;
		}

		nav ul ul {
			display:none;
			position:relative;
		}
		nav li li a {
			box-sizing:border-box;
			width:100%;
			padding:10px 30px 10px 50px;
			text-align:left;
			background:#4A5894;
			color: #fff;

		/*追加*/
			overflow: hidden;
			position: relative;
			-webkit-transition: all 0.1s;
			-moz-transition: all 0.1s;
			transition: all 0.1s;
		/*ここまで*/
		}

		/*追加*/
		nav li li a .clickPoint {
			margin: -5px 0 0 -5px;
			width: 10px;
			height: 10px;
			display: block;
			position: absolute;
			background: #bbb;
			border-radius: 50%;
			-webkit-animation: clicklEffect 1.5s ease-out;
			-moz-animation: clicklEffect 1.5s ease-out;
			animation: clicklEffect 1.5s ease-out;
		}
		/*ここまで*/




		.subnav > a:before {
			display:block;
			content:"";
			position:absolute;
			-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
			top:20px;
			right:16px;
			width:10px;
			height:10px;
			margin-top:-5px;
			background:#012f7a;

			/*追加*/
					overflow: hidden;
					-webkit-transition: all 0.1s;
					-moz-transition: all 0.1s;
					transition: all 0.1s;
			/*ここまで*/

		}
		.subnav > a:after {
			display:block;
			content:"";
			position:absolute;
			-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
			top:20px;
			right:16px;
			width:10px;
			height:10px;
			margin-top:-10px;
			background:#f1f1f1;

			/*追加*/
					overflow: hidden;
					-webkit-transition: all 0.1s;
					-moz-transition: all 0.1s;
					transition: all 0.1s;
			/*ここまで*/

		}
		.subnav a:hover:before {
			background:#fff;
		}
		.subnav a:hover:after {
			background:#012f7a;
		}

		.active > a:before {
			margin-top:0;
			background:#fff;
		}
		.active > a:after {
			margin-top:5px;
			background:#012f7a;
		}

		.active > a {
		background: #012f7a;
		color: #fff;
		}


		.gnav {
			display:none;
		}

		#spMenu {
			display:block;
			z-index:6000;
			position:fixed;
			top:10px;
			right:10px;
		}
		#spMenu:hover {
			cursor:pointer;
		}

		#navBtn {
			display:inline-block;
			position:relative;
			width:42px;
			height:42px;
			border-radius:5%;
			background:#012f7a;
		}
		#navBtnIcon {
			display:block;
			position:absolute;
			top:50%;
			left:50%;
			width:20px;
			height:2px;
			margin:-1px 0 0 -10px;
			background:#f1f1f1;
			transition:.2s;
		}
		#navBtnIcon:before,
		#navBtnIcon:after {
			display:block;
			content:'';
			position:absolute;
			top:50%;
			left:0;
			width:20px;
			height:2px;
			background:#f1f1f1;
			transition:0.3s;
		}
		#navBtnIcon:before {
			margin-top:-6px;
		}
		#navBtnIcon:after {
			margin-top:4px;
		}
		#navBtn .close {
			background:transparent;
		}
		#navBtn .close:before,
		#navBtn .close:after {
			margin-top:0;
		}
		#navBtn .close:before {
			transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
		}
		#navBtn .close:after {
			transform:rotate(-135deg);
			-webkit-transform:rotate(-135deg);
		}
		}



}
