@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*================================================
 *  一般・共通設定
 ================================================*/
body {
	font-size:14px;
	color:#333;
	font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height:1.6;
	background:#fff;
}

.inner {
	position:relative;
	width:980px;
	margin:0 auto;
}

header {
	box-sizing:border-box;
	position:relative;
	width:100%;
	background:#fcfcfc;
}

nav {
	width:100%;
	background:#fff;
	box-shadow:0 1px 2px #d0d8dc;
	⁄zoom:1;
}
nav:after {
   content:'';
   display:block;
   clear:both;
}

#contents {
	overflow:hidden;
	width:980px;
	margin:20px auto;
	background:#fff;
}

#contents2 {
	overflow:hidden;
	width:980px;
	margin:20px auto;
	background:#fff;
}

#main {
	box-sizing:border-box;
	overflow:hidden;
	float:left;
	width:68%;
}

#sub {
	box-sizing:border-box;
	overflow:hidden;
	float:right;
	width:28%;
}

#main2 {
	box-sizing:border-box;
	overflow:hidden;
	float:left;
	width:28%;
}

#sub2{
	box-sizing:border-box;
	overflow:hidden;
	float:right;
	width:68%;
}

#main3 {
	box-sizing:border-box;
	overflow:hidden;
	float:left;
	width:48%;
}

#sub3{
	box-sizing:border-box;
	overflow:hidden;
	float:right;
	width:48%;
}


footer {
	box-sizing:border-box;
	width:100%;
	margin:0 auto;
}

a {
	color:#333;
	text-decoration:underline;
}
a:hover {
	color:#333;
	text-decoration:none;
}

h2 {
	margin-bottom:0.5em;
	padding:10px 0;
	font-size:21px;
	color:#333;
	border-top:3px solid #5765A2;
	border-bottom:1px dotted #5765A2;
}

h3 {
	margin-bottom:0.25em;
	padding:2px 5px;
	color:#fff;
	font-size:16px;
	background:#333;
}

h4 {
	margin-bottom:0.25em;
	font-size:15px;
	color:#5765A2;
	border-bottom:3px solid #5765A2;
}

h5 {
	position:relative;
	margin-bottom:0.25em;
	padding-left:10px;
	color:#5765A2;
	font-size:14px;
	font-weight:bold;
}
h5:before {
    content:"";
    margin-top:-7px;
    position:absolute;
    top:50%;
    left:0;
    width:5px;
    height:14px;
    background:#0E2A8C;
}

h6 {
	margin-bottom:0.25em;
	color:#382400;
	font-size:14px;
	font-weight:bold;
}

p {
	margin:0 0 1em 0;
}

img {
	vertical-align:bottom;
}

em {
	font-weight:bold;
}

strong {
font-size:42px;
}

pre {
	margin:1em 0;
	padding:1em;
}

blockquote {
	margin-bottom:1em;
	padding:10px 15px;
	color:#fff;
	font-size:20px;
	background:#77aad6;
}

ul,ol,dl {
	margin:0 0 1em 0;
}
ul li {
	list-style:none;
}
ol li {
	list-style:decimal;
}
li {
	margin-left:2em;
}

dt {
	margin-bottom:0.5em;
	border-bottom:1px dotted #ddd;
}
.dd {
	margin-bottom:0.5em;
}


/*お知らせのフォント*/
.moreA{
 display: inline-block;
 padding: 5px 10px;
 background-color: #4A5894;
 color: #fff;
 margin-left: 0px;
 margin-right: 0px;
}

/*更新履歴のフォント*/
.moreB{
 display: inline-block;
 padding: 5px 10px;
 background-color: #ce9d3f;
 color: #fff;
 margin-left: 0px;
 margin-right: 0px;
}

/*言語選択*/
#language a {
	margin: 0 5px;
	padding: 15px 0;
	width: 100px;
	color: #000;
	font-size: 15px;
	line-height: 1.4em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border: #cccccc 1px solid;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#language a:hover {
	color: #fff;
	background-color: #012f7a;
}

#language a .clickPoint {
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	background: #ccc;
	border-radius: 50%;
	-webkit-animation: clicklEffect 1.5s ease-out;
	-moz-animation: clicklEffect 1.5s ease-out;
	animation: clicklEffect 1.5s ease-out;
}

@-webkit-keyframes clicklEffect {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(100);
		opacity: 0;
	}
}

@-moz-keyframes clicklEffect {
	0% {
		-moz-transform: scale(1);
		opacity: 1;
	}
	100% {
		-moz-transform: scale(100);
		opacity: 0;
	}
}

@keyframes clicklEffect {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(100);
		opacity: 0;
	}
}


table {
	width:100%;
	margin-bottom:1em;
	border-collapse:collapse;
	background:#fff;
}
th {
	padding:10px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #ddd;
	background:#eee;
}
td {
	padding:10px;
	text-align:left;
	border-bottom: 1px solid #ddd;
}

/*================================================
 *  ヘッダー
 ================================================*/
header {
	padding:30px 10px;
}

header img{
	width: 60%;
}

.summary {
	position:absolute;
	top:0;
	right:10px;
	margin:0;
}

/*================================================
 *  グローバルナビゲーション
 ================================================*/
@media print, screen and (min-width:768px) {
	nav {
		background:#4A5894;
		border-bottom:5px solid #5765A2;
		box-shadow:0 1px 3px #999;
		z-index:3;
	}
	nav ul {
		margin:0;
		padding:0;
	}
	nav li {
		position:relative;
		width:17%;
		float:left;
		margin:0;
		padding:0;
		text-align:center;
		list-style:none;
	}
	nav li:first-child {
		width:15%;
	}
	nav li:before {
		content:"";
		margin-top:-7px;
		position:absolute;
		top:50%;
		left:0;
		width:1px;
		height:14px;
		background:#0E2E8C;
	}
	nav li:last-child:after {
		content:"";
		margin-top:-7px;
		position:absolute;
		top:50%;
		right:0;
		width:1px;
		height:14px;
		background:#0E2E8C;
	}
	nav li:hover:before,
	nav li:hover + li:before,
	nav li:last-child:hover:after,
	nav li li:before,
	nav li li:after {
		display:none;
	}
	nav li:last-child li {
		left:-50%;
	}
	nav li a {
		display:block;
		padding:10px 0;
		color:#fff;
		font-weight:bold;
		text-decoration:none;
	}
	nav li ul {
		display:block !important;
		position:absolute;
		top:100%;
		left:0;
		margin:0;
		padding:0;
		border-radius:0 0 3px 3px;
		z-index:3;
	}
	nav li ul li {
		overflow:hidden;
		width:150%;
		height:0;
		-moz-transition:.2s;
		-webkit-transition:.2s;
		-o-transition:.2s;
		-ms-transition:.2s;
		transition:.2s;
	}
	nav li li:first-child {
		width:150%;
	}
	nav li ul li a {
		padding:10px 15px;
		background:#0080BA;
		text-align:left;
		font-weight:normal;
	}
	nav li:hover > a {
		background:#0C207C;
		color:#fff;
	}
	nav li:hover > a:hover {
		background:#0C207C;
	}

	.gnav {
		display:block !important;
	}

	#spMenu {
		display:none;
	}

	.showNav {
		background:#0C207C !important;
	}

	.showSub {
		overflow:visible;
		min-height:42px;
		border-bottom:2px solid #0C207C;
	}
	.showSub:last-child {
		border-bottom:0;
	}
	.showSub:last-child a {
		border-radius:0 0 3px 3px;
	}

	.fixed {
		position:fixed;
		top:0;
		left:0;
	}
}

/*================================================
 *  トピックパス（パンくずリスト）
 ================================================*/
#topicpath {
	font-size:12px;
	margin-bottom:20px;
	padding:2px;
	background:#f1f1f1;
}

/*================================================
 *  サブコンテンツ
 ================================================*/
.submenu li {
	margin:0;
	padding:0;
	list-style:none;
}
.submenu li a:before {
	content:"\0025a0";
	color:#000;
}
.submenu li a {
	display:block;
	padding:10px 2px;
	color:#000;
	border-bottom:1px dotted #ddd;
	text-decoration:none;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.submenu li a:hover {
	background:#eee;
}


.submenu li a .clickPoint {
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	background: #bbb;
	border-radius: 50%;
	-webkit-animation: clicklEffect 1.5s ease-out;
	-moz-animation: clicklEffect 1.5s ease-out;
	animation: clicklEffect 1.5s ease-out;
}


.bnr {
	overflow:hidden;
}
.bnr ul {
	overflow:hidden;
}

/*
.bnr li {
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}
.bnr li a:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter:"alpha( opacity=80 )";
}
.bnr img {
	width:100%;
}
*/
.bnr li {
	margin:0;
	padding:0;
	list-style:none;
}

.bnr li a {
	display:block;
	padding:10px 2px;
	color:#000;
	border-bottom:1px dotted #ddd;
	text-decoration:none;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.bnr li a:hover {
	background:#eee;
}


.bnr li a .clickPoint {
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	background: #bbb;
	border-radius: 50%;
	-webkit-animation: clicklEffect 1.5s ease-out;
	-moz-animation: clicklEffect 1.5s ease-out;
	animation: clicklEffect 1.5s ease-out;
}



/*================================================
 *  フッター
 ================================================*/
footer {
	clear:both;
}

.footmenu {
	width:100%;
	padding:20px 0;
	overflow:hidden;
	background:#eee;
}
.footmenu ul {
	position:relative;
	float:left;
	left:50%;
	margin:0;
	padding:0;
}
.footmenu li {
	position:relative;
	left:-50%;
	float:left;
	list-style:none;
	margin:0;
	padding:0 15px;
	font-size:12px;
	text-align:center;
}
.footmenu a {
	color:#333;
	text-decoration:none;
}
.footmenu a:hover {
	color:#333;
	text-decoration:underline;
}

.copyright {
	clear:both;
	padding:20px 0;
	font-size:11px;
	text-align:center;
	color:#eee;
	background:#2e2e2e;
}

/*================================================
 *  ページトップへの戻り
 ================================================*/
.totop {
	position:fixed;
	bottom:15px;
	right:15px;
}
.totop a {
	display:block;
	text-decoration:none;
}
.totop img {
	background:#4A5894;
}
.totop img:hover {
	background:#000890;
}

/*================================================
 *  クラス
 ================================================*/
.list {
	padding:0 0 0 0.5em;
}
.list li {
	margin:0;
	padding:0 0 0 15px;
	list-style:none;
	background:url(../images/check.png) 0 5px no-repeat;
}

.info dt {
	padding-bottom:1em;
	border-bottom:1px solid #ddd;
}

.info a{
	color: #fff;
	text-decoration: none;
}

/*
.info dt {
	border-bottom:none;
}
.info dd {
	padding-bottom:1em;
	border-bottom:1px solid #ddd;
}
*/
.col_two_one {
	overflow:hidden;
}

.col_two_one ul {
	overflow:hidden;
	margin:2% -2% 0 0;
}
.col_two_one li {
	list-style:none;
	float:left;
	width:48%;
	margin:0 2% 2% 0;
}
.col_two_one li:nth-child(2n+1) {
	clear:both;
}
.col_two_one li img {
	width:100%;
	margin-bottom:2.5%;
}

.col_two_one h2{
	margin-top: 1em;
	margin-bottom:0em;
	padding:10px 0;
	font-size:21px;
	background: #fff;
	color:#333;
	border-top:3px solid #5765A2;
	border-bottom:1px dotted #5765A2;
}

/*================================================
 *  スライドショー
 ================================================*/
/* スライドショー */
.slide {
	display:none;
	position:relative;
	overflow:hidden;
	margin:20px 0;
}

.slidePrev {
	position:absolute;
	cursor:pointer;
	z-index:2;
}

.slideNext {
	position:absolute;
	cursor:pointer;
	z-index:2;
}

.slidePrev img {
	position:absolute;
	width:50px !important;
	height:60px !important;
}

.slideNext img {
	position:absolute;
	width:50px !important;
	height:60px !important;
}

.slideInner {
	position:relative;
	margin:0 0 5px 0;
	padding:0;
}
.slideInner li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.slideInner li img {
	margin:0 5px;
	padding:0;
}

.filterPrev {
	position:absolute;
	left:0;
	opacity:0.5;
	filter:alpha(opacity=50);
	background-color:#fff;
}

.filterNext {
	position:absolute;
	right:0;
	opacity:0.5;
	filter:alpha(opacity=50);
	background-color:#fff;
}

.controlNav {
	position:relative;
	float:left;
	left:50%;
}
.controlNav span {
	position:relative;
	left:-50%;
	float:left;
	margin:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:10px;
	height:10px;
	overflow:hidden;
	background:#ccc;
	text-indent:-9999px;
	vertical-align:middle;
}
.controlNav span:hover {
	background:#999;
	cursor:pointer;
}
.controlNav span.current {
	background:#000890;
}

/*================================================
 *  タブレット向けデザイン
 ================================================*/
/* スクロールバーを考慮して20px大きいサイズで切り替え */
@media screen and (max-width:979px) {
	.inner {
		width:100%;
	}

	#contents {
		box-sizing:border-box;
		width:100%;
		padding:0 10px;
	}

	#contents2 {
		box-sizing:border-box;
		width:100%;
		padding:0 10px;
	}

	footer {
		width:100%;
	}
}

/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:767px) {
	.lock {
		overflow:hidden;
	}

	header {
		z-index:2;
		box-sizing:border-box;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		padding:15px 10px;
	}

	header img{
		width: 90%;
	}

	.summary {
		position:relative;
		top:auto;
		right:auto;
		margin-top:15px;
	}

	#language a {
		margin: 0 0px;
		padding: 7px 0;
		width: 100px;
		color: #000;
		font-size: 16px;
		line-height: 1.4em;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		overflow: hidden;
		position: relative;
		border: #cccccc 1px solid;
		background-color: #fff;
		box-sizing: border-box;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
	}


	#main {
		float:none;
		width:100%;
	}

	#sub {
		float:none;
		width:100%;
	}

	#main2 {
		float:none;
		width:30%;
	}

	#sub2 {
		float:none;
		width:100%;
	}

	nav {
		background:#0C207C;
	}

	nav ul {
		margin:0;
		padding:0;
		}

/*
nav li .subnav{
	margin-left: 300px;
}
*/

	nav .inner > ul {
		z-index:2;
		overflow:auto;
		position:fixed;
		top:10px;
		right:10px;
		width:40%;
		height:88%;
		height:-webkit-calc(100% - 10px);
		height:calc(100% - 10px);
	}
	nav li {
		position:relative;
		width:100%;
		float:none;
		margin:0;
		text-align:left;
		list-style:none;
		border-bottom:1px solid #ccc;
		background:#012f7a;
	}

	nav li:first-child {
		border-top:0;
	}
	nav li:last-child {
		border-bottom:0;
	}



	nav li a {
		display:block;
		padding:10px 30px;
		color:#000;
		text-decoration:none;
		background:#f1f1f1;

/*追加*/
		overflow: hidden;
		position: relative;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		transition: all 0.1s;
/*ここまで*/
	}


/*追加*/
	nav li a .clickPoint {
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		background: #bbb;
		border-radius: 50%;
		-webkit-animation: clicklEffect 1.5s ease-out;
		-moz-animation: clicklEffect 1.5s ease-out;
		animation: clicklEffect 1.5s ease-out;
	}
/*ここまで*/



	nav li a:hover {
		color:#fff;
		background:#012f7a;
	}

	nav ul ul {
		display:none;
		position:relative;
	}
	nav li li a {
		box-sizing:border-box;
		width:100%;
		padding:10px 30px 10px 50px;
		text-align:left;
		background:#4A5894;
		color: #fff;

/*追加*/
		overflow: hidden;
		position: relative;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		transition: all 0.1s;
/*ここまで*/
	}

/*追加*/
	nav li li a .clickPoint {
		margin: -5px 0 0 -5px;
		width: 10px;
		height: 10px;
		display: block;
		position: absolute;
		background: #bbb;
		border-radius: 50%;
		-webkit-animation: clicklEffect 1.5s ease-out;
		-moz-animation: clicklEffect 1.5s ease-out;
		animation: clicklEffect 1.5s ease-out;
	}
/*ここまで*/




	.subnav > a:before {
		display:block;
		content:"";
		position:absolute;
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		top:20px;
		right:16px;
		width:10px;
		height:10px;
		margin-top:-5px;
		background:#012f7a;

		/*追加*/
				overflow: hidden;
				-webkit-transition: all 0.1s;
				-moz-transition: all 0.1s;
				transition: all 0.1s;
		/*ここまで*/

	}
	.subnav > a:after {
		display:block;
		content:"";
		position:absolute;
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		top:20px;
		right:16px;
		width:10px;
		height:10px;
		margin-top:-10px;
		background:#f1f1f1;

		/*追加*/
				overflow: hidden;
				-webkit-transition: all 0.1s;
				-moz-transition: all 0.1s;
				transition: all 0.1s;
		/*ここまで*/

	}
	.subnav a:hover:before {
		background:#fff;
	}
	.subnav a:hover:after {
	  background:#012f7a;
	}

	.active > a:before {
		margin-top:0;
		background:#fff;
	}
	.active > a:after {
		margin-top:5px;
	  background:#012f7a;
	}

	.active > a {
	background: #012f7a;
	color: #fff;
}


	.gnav {
		display:none;
	}

	#spMenu {
		display:block;
		z-index:3;
		position:fixed;
		top:10px;
		right:10px;
	}
	#spMenu:hover {
		cursor:pointer;
	}

	#navBtn {
		display:inline-block;
		position:relative;
		width:42px;
		height:42px;
		border-radius:5%;
		background:#012f7a;
	}
	#navBtnIcon {
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		width:20px;
		height:2px;
		margin:-1px 0 0 -10px;
		background:#f1f1f1;
		transition:.2s;
	}
	#navBtnIcon:before,
	#navBtnIcon:after {
		display:block;
		content:'';
		position:absolute;
		top:50%;
		left:0;
		width:20px;
		height:2px;
		background:#f1f1f1;
		transition:0.3s;
	}
	#navBtnIcon:before {
		margin-top:-6px;
	}
	#navBtnIcon:after {
		margin-top:4px;
	}
	#navBtn .close {
		background:transparent;
	}
	#navBtn .close:before,
	#navBtn .close:after {
		margin-top:0;
	}
	#navBtn .close:before {
		transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
	}
	#navBtn .close:after {
		transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
	}
}

@media screen and (max-width:500px) {
	.col_two_one ul {
		margin-right:0;
	}
	.col_two_one li {
		width:100%;
	}
	.col_two_one li:nth-child(2n+1) {
		clear:both;
	}
}
